* {
  box-sizing: border-box;
  }
  html {
  height: 100%;
  }
  body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 28px;
  color: var(--black);
  font-feature-settings: 'liga', 'kern';
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-osx-font-smoothing: grayscale;
  background: var(--white);
  overflow-y: scroll;
  
}
